<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Cantinho da Amora</h1>
        
        <p><a class="text-violet" href="/artigos">Artigos</a></p>
        
        <p><a class="text-violet" href="/categories">Categorias</a></p>
        
        <p><a class="text-violet" href="/suppliers">Fornecedores</a></p>
        
        <p><a class="text-violet" href="/images">Imagens</a></p>
        
        <p><a class="text-violet" href="/newsletters">Newsletters</a></p>
        
        <p><a class="text-violet" href="/produtos">Produtos</a></p>
        
        <p><a class="text-violet" href="/pedidos">Pedidos</a></p>
        
        <p><a class="text-violet" href="/tickets">Tickets</a></p>
        
        <p><a class="text-violet" href="/usuarios">Usuários</a></p>
        
    </div>
</div>