<div id="buy_step_1" class="row">
	<div class="col-lg-offset-8 col-lg-8 col-sm-offset-0 col-sm-24 text-left background-success">
	    <h3 class="text-center">
            <p>
                <span class="label label-1">1</span>
                <span class="label label-default"><a href="#/add_products">2</a></span>
                <span class="label label-default"><a href="#/confirmation">3</a></span>
                <span class="label label-default"><a href="#/payment">4</a></span>
            </p>
            <p>Montar uma nova cesta</p>
        </h3>
        
        <hr>
        
        <form class="form">

            <div class="form-group">
                <label for="basket_name">Nome da nova cesta</label>
                <input class="form-control" type="text" name="basket_name" />
            </div>

            <div class="form-group">
                <label for="email">Seu e-mail</label>
                <input class="form-control" type="text" name="email" />
            </div>
            
            <div class="form-group text-right clearfix">
                <a class="btn btn-success" href="#/add_products">Adicionar produtos</a>
            </div>
            
        </form>

	</div>
</div>