<div id="buy_step_1" class="row background-success" ng-controller="FeiraCtrl as FeiraCtrl">

	<div class="col-xs-6 text-left" style='min-height:100em;'>
		
		<h2 class="text-center">Cesta</h2>
		
		<p ng-if="!basket.products.length">Ainda não foram adicionados produtos na cesta. Clice no produto ao lado para colocá-lo na cesta.</p>

        <div class="row">
			<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" ng-repeat="product in basket.products">
				<div class="server-action-menu">
					<img 
						class="img-responsive img-rounded" 
						alt="week_product" 
						ng-src="{{product.img}}" 
						popover="{{product.dscr}}" 
						popover-title="{{product.name}}" 
						popover-trigger="mouseenter"
						popover-placement="right" 
						popover-append-to-body="true"
					>
					<p><strong>Qt: </strong> {{product.quantity}}</p>
				</div>
			</div>
        </div>

	</div>

	<div class="col-xs-18 text-left background-default">
		
        <h1 class="text-center" 	ng-click="addToBasket()">Produtos da semana</h1>

        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="productQuery">Buscar produto</label>
				<input class="form-control input-xs" id="productQuery" name="productQuery" ng-model="productQuery" type="text" placeholder="Buscar produto" autofocus>
            </div>
        </form>
        
        <br></br>

		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="product in products | filter:productQuery | orderBy: 'name'">
				<img 
					class="img-responsive img-thumbnail" 
					alt="week_product" 
					ng-src="{{product.img}}" 
					popover="{{product.dscr}}" 
					popover-title="{{product.name}}"
					popover-trigger="mouseenter"
					popover-placement="right" 
					popover-append-to-body="true"
					ng-click="addToBasket(product)"
				>
				<p style="height:60px;">{{product.name}}</p>
			</div>
			
	    </div>
	    
	</div>

</div>