<div id="buy_step_1" class="row">
	<div class="col-lg-offset-8 col-lg-8 col-sm-offset-0 col-sm-24 text-left background-success">
	    <h3 class="text-center">
            <p>
                <span class="label label-default"><a href="#/new_basket">1</a></span>
    	       <span class="label label-default"><a href="#/add_products">2</a></span>
    	       <span class="label label-default"><a href="#/confirmation">3</a></span>
    	       <span class="label label-1">4</span>
            </p>
    	    <p>Pagamento</p>
        </h3>
        
        <hr>


        <form class="form" role="form">
            
            <div class="form-group clearfix">
                <a class="btn btn-success" href="#/confirmation">Revisar pedido</a>
            </div>

        </form>
	</div>
</div>