<div id="buy_step_1" class="row background-violet">

	<div class="col-xs-6 text-left text-white" style='min-height:90vh;'>


		<h2 class="text-center clearfix">Cesta</h2>

		<hr>

		<div ng-if="!basket.products.length">
			<h4>A sua cesta está vazia!</h4>
			<p>Adicione novos produtos dando um duplo clique na imagem do produto desejado.</p>
		</div>
		
		<div ng-if="basket.products.length">
			
	        <div class="row">
				<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12" ng-repeat="product in basket.products">
					<div class="server-action-menu">
						<img 
							class="img-responsive img-rounded" 
							alt="{{product.name}}_img" 
							ng-src="{{product.img}}" 
							popover="{{product.dscr}}" 
							popover-title="{{product.name}}" 
							popover-trigger="mouseenter"
							popover-placement="right" 
							popover-append-to-body="true"
							ng-dblclick="dropFromBasket(product)"
						>
						<p><strong>Qt: </strong> {{product.quantity}}</p>
					</div>
				</div>
	        </div>
	        
	        <hr>

			<h4><strong>Total: </strong>R{{basket.total | currency}}</h4>
			
			<hr>

			<buton class="btn btn-danger btn-block btn-lg">
				Enviar pedido <br>
				<small>Compra 100% segura.</small>
				
			</buton>
			
		</div>
		
	</div>

	<div class="col-xs-18 text-left background-white">
		
		<div class="row">
			<div class="col-xs-offset-1 col-xs-22">

		        <form class="form-inline text-right">
		            <div class="form-group">
		            	<label for="productQuery">Buscar produto</label>
						<input class="form-control input-xs" id="productQuery" name="productQuery" ng-model="productQuery" type="text" placeholder="Buscar produto" autofocus>
		            </div>
		            <span class="pull-right"><a class="btn btn-default" href="#/product">+</a></span>
		        </form>
		        
		        <br>
		        
				<div class="btn-group" role="group" aria-label="productKind">
					<button 
						type="button" 
						class="btn btn-default btn-xs btn-info" 
						ng-class="selectedCategory == '' ? 'active' : ''"
						ng-click="selectCategory()"
					>Tudo</button>
					<button 
						ng-repeat="category in categories" 
						type="button" 
						class="btn btn-default btn-xs btn-info" 
						ng-class="selectedCategory == category ? 'active' : ''"
						ng-click="selectCategory(category)"
					>{{category}}</button>
				</div>
		        
		        <br></br>
		
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in filteredProducts = (products | filter: productQuery | filter: {category : selectedCategory, active: 'true'} | orderBy: 'name')">


					    <div class="thumbnail">

							<a class="btn btn-default" ng-class="$storage.user.kind == 'admin' ? product.highlight ? 'background-green' : product.active ? 'background-white' : 'background-red' : 'background-white'" href="#/product/{{product._id}}">
								<img 
									class="img-responsive" 
									alt="week_product" 
									ng-src="http://images.elasticbeanstalk.com/200/{{product.img}}" 
									ng-dblclick="addToBasket(product)"
								>
							</a>
							
							<div class="caption">
								<div style="height:100px;">
									<a ng-if="product.category" ng-click="selectCategory(product.category)">{{product.category}}</a>
									<p>R{{product.price | currency}}</p>
									<h4 class="text-violet">{{product.name}}</h4>
								</div>
								<button class="btn btn-danger btn-block" ng-click="addToBasket(product)">Colocar na cesta</button>
							</div>
					    </div>


					</div>
					<div class="col-xs-24" ng-if="!filteredProducts.length">Nesta sema a não temos nenhum produto da categoria {{selectedCategory}}!<br></br></div>
			    </div>
				
			</div>
		</div>

	</div>

</div>