<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
		<div class="btn-group" role="group" aria-label="productKind">
			<button type="button" class="btn btn-sm btn-default" ng-class="selectedCategory == '' ? 'active' : ''" ng-click="selectCategory('')">Tudo</button>
			<button ng-repeat="product in filteredProducts = (products | filter: productQuery | orderBy: 'category' | groupBy: 'category')" type="button" class="btn btn-sm btn-default" ng-class="selectedCategory == product[0].category ? 'active' : ''" ng-click="selectCategory(product[0].category)">{{product[0].category}}</button>
		</div>
		
		<br><br>
		
		<form class="form-inline text-right">
			<div class="form-group">
				<label for="productQuery">Buscar produto</label>
				<input class="form-control input-xs" id="productQuery" name="productQuery" ng-model="productQuery" type="text" placeholder="Buscar produto">
			</div>
			<div class="form-group">
				<label for="selectedOrder">Ordem</label>
				<select class="form-control" id="selectedOrder" name="selectedOrder" ng-model="selectedOrder">
					<option value="name">Nome</option>
					<option value="price">Preço</option>
					<option value="category">Categoria</option>
					<option value="highlight">Destaque</option>
				</select>
			</div>
		</form>
		
		<br>
		
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in filteredProducts = (products | filter: productQuery | filter: {category : selectedCategory} | orderBy: selectedOrder)">
		
		
				<div class="thumbnail">
					<a href="/fair/product/{{product._id}}">
						<img class="img-responsive" alt="week_product" ng-src="http://images.elasticbeanstalk.com/200x200/{{product.img}}" ng-dblclick="addToBasket(product)">
					</a>
					<hr>
					<div style="height:100px;">
						<p>
							<span ng-bind="product.price | currency:'R$':2"></span>
							<span class="pull-right">
								<a ng-if="product.category" ng-click="selectCategory(product.category)" ng-bind="product.category"></a>
							</span>
						</p>
						<h4 class="text-violet"><a href="/fair/product/{{product._id}}" ng-bind="product.name"></a></h4>
					</div>
		
					<button class="btn btn-success btn-block" ng-click="addToBasket(product)">Colocar na cesta 
						<span class="label label-warning" ng-repeat="buttonProduct in $storage.basket.products | filter : {_id: product._id}" ng-bind="buttonProduct.quantity"></span>
					</button>
		
				</div>
		
		
			</div>
			<div class="col-xs-24" ng-if="!filteredProducts.length">Nesta semana não temos nenhum produto da categoria {{selectedCategory}}!
				<br></br>
			</div>
		</div>
	</div>
</div>