<br>

<div class="row">
    <div class="col-sm-22 col-sm-offset-1">

		<form class="form-inline text-right">
			<div class="form-group">
				<label for="productQuery">Buscar produto</label>
				<input class="form-control input-xs" id="productQuery" name="productQuery" ng-model="productQuery" type="text" placeholder="Buscar produto">
			</div>
			<div class="form-group">
				<label for="selectedOrder">Ordem</label>
				<select class="form-control" id="selectedOrder" name="selectedOrder" ng-model="selectedOrder">
					<option value="name">Nome</option>
					<option value="prices[0].price">Preço</option>
					<option value="categories[0].name">Categoria</option>
					<option value="highlight">Destaque</option>
				</select>
			</div>
		</form>
		
		<br>

		<div class="btn-group" role="group" aria-label="productKind">
			<button type="button" class="btn btn-sm btn-primary" ng-class="selectedCategory == '' ? 'active' : ''" ng-click="selectCategory('')">Tudo</button>
			<button type="button" class="btn btn-sm btn-primary" ng-class="selectedCategory == product[0].categories[0].name ? 'active' : ''" ng-click="selectCategory(product[0].categories[0].name)" ng-repeat="product in filteredProducts = (products | filter: productQuery | orderBy: 'categories[0].name' | groupBy: 'categories[0].name')">{{product[0].categories[0].name}}</button>
		</div>
		
		<hr>
		
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in filteredProducts = (products | filter: productQuery | filter: {categories : selectedCategory} | orderBy: selectedOrder)">
		
		
				<div class="thumbnail">
					<a href="/feira/{{product._id}}">
						<img class="img-responsive img-responsive-wide img-centered" alt="week_product" ng-src="https://feiraorganica.com/cdn/image/200x200/?url={{product.images[0].url}}" ng-dblclick="addToBasket(product)">
					</a>
					<hr>
					<div style="height:100px;">
						<p>
							<span class="text-success" ng-bind="product.prices[0].price | currency:'R$':2"></span> <span ng-if="product.prices[1].price > product.prices[0].price"><i class="fa fa-arrow-down text-success"></i> <del><small class="text-muted text-danger" ng-bind="product.prices[1].price | currency:'R$':2"></small></del></span>
						</p>
						<h4 class="text-violet"><a href="/feira/{{product._id}}" ng-bind="product.name"></a></h4>
					</div>
		
					<button class="btn btn-success btn-block" ng-click="addToBasket(product)">Colocar na cesta 
						<span class="label label-warning" ng-repeat="buttonProduct in $storage.basket.products | filter : {_id: product._id}" ng-bind="buttonProduct.quantity"></span>
					</button>
		
				</div>
		
		
			</div>
			<div class="col-xs-24" ng-if="!filteredProducts.length">Nesta semana não temos nenhum produto da categoria {{selectedCategory}}!
				<br></br>
			</div>
		</div>
	</div>
</div>