<div class="row">

    <div class="col-sm-22 col-sm-offset-1">
        
        <br>

        <div class="text-right">
            <small>Compartilhe este produto com seus amigos:</small>
            
            <span>
                
                <button class="btn btn-default" socialshare socialshare-provider="facebook" socialshare-text="Encontrem este delicioso produto na Feira Orgãnica Delivery" socialshare-hashtags="organicos, feiraorganicadelivery, florianopolis, floripa, comidasaudavel" socialshare-url="https://feiraorganica.com/feira/{{productFormModalObject._id}}" socialshare-via="feiraorganicadelivery"><i class="fa fa-facebook fa-fw"></i></button>
                <button class="btn btn-default" socialshare socialshare-provider="twitter" socialshare-text="Encontrem este delicioso produto na Feira Orgãnica Delivery" socialshare-hashtags="organicos, feiraorganicadelivery, florianopolis, floripa, comidasaudavel" socialshare-url="https://feiraorganica.com/feira/{{productFormModalObject._id}}" socialshare-via="feiraorganicadelivery"><i class="fa fa-twitter fa-fw"></i></button>
                <button class="btn btn-default" socialshare socialshare-provider="google+" socialshare-text="Encontrem este delicioso produto na Feira Orgãnica Delivery" socialshare-hashtags="organicos, feiraorganicadelivery, florianopolis, floripa, comidasaudavel" socialshare-url="https://feiraorganica.com/feira/{{productFormModalObject._id}}" socialshare-via="feiraorganicadelivery"><i class="fa fa-google-plus fa-fw"></i></button>

            </span>
            
        </div>
                    
        <form class="form" role="form" name="productFormModal">
        
            <div class="row">
                
                <div class="col-sm-6">
                    
                    <br>
                    
                    <img class="img-responsive" ng-src="{{productFormModalObject.img}}" ></img>
                    
                    <button class="btn btn-success btn-block" ng-click="addToBasket(productFormModalObject)">
                        Colocar na cesta
                        <span class="label label-warning" ng-repeat="buttonProduct in $storage.basket.products | filter : {_id: productFormModalObject._id}" ng-bind="buttonProduct.quantity"></span>
                    </button>
        
                </div>
                
                <div class="col-sm-18">
                    
                    <h2 ng-bind="productFormModalObject.name"></h2>
                    
                    <hr>
                    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.price">
                        <dt>Preço: </dt>
                        <dd ng-bind="productFormModalObject.price | currency:'R$':2"></dd>
                    </dl>
                    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.category">
                        <dt>Categoria: </dt>
                        <dd ng-bind="productFormModalObject.category"></dd>
                    </dl>
                    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.supplier">
                        <dt>Fornecedor: </dt>
                        <dd ng-bind="productFormModalObject.supplier"></dd>
                    </dl>
                    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.season">
                        <dt>Época: </dt>
                        <dd ng-bind="productFormModalObject.season"></dd>
                    </dl>
                    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.recipes">
                        <dt>Receitas: </dt>
                        <dd ng-bind="productFormModalObject.recipes"></dd>
                    </dl>
    
                    <dl class="dl-horizontal" ng-show="productFormModalObject.dscr">
                        <dt></dt>
                        <dd class="text-justify" ng-bind-html="productFormModalObject.dscr" style="white-space: pre-wrap;"></dd>
                    </dl>
                    
                </div>
        
            </div>
            
        </form>
        
        <hr>
        
        <h3>Outros produtos da categoria {{productFormModalObject.category}}</h3>
		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in filteredProducts = (products | filter: {category: productFormModalObject.category} | orderBy: 'name')">
		
		
				<div class="thumbnail">
					<a href="/feira/{{product._id}}">
						<img class="img-responsive img-responsive-wide img-centered" alt="week_product" ng-src="http://images.elasticbeanstalk.com/200x200/{{product.img}}" ng-dblclick="addToBasket(product)">
					</a>
					<hr>
					<div style="height:100px;">
						<p>
							<span ng-bind="product.price | currency:'R$':2"></span>
							<span class="pull-right">
								<a ng-if="product.category" ng-click="selectCategory(product.category)" ng-bind="product.category"></a>
							</span>
						</p>
						<h4 class="text-violet"><a href="/feira/{{product._id}}" ng-bind="product.name"></a></h4>
					</div>
		
					<button class="btn btn-success btn-block" ng-click="addToBasket(product)">Colocar na cesta 
						<span class="label label-warning" ng-repeat="buttonProduct in $storage.basket.products | filter : {_id: product._id}" ng-bind="buttonProduct.quantity"></span>
					</button>
		
				</div>
		
		
			</div>
			<div class="col-xs-24" ng-if="!filteredProducts.length">Nesta semana não temos nenhum outro produto na categoria {{selectedCategory}}!
				<br></br>
			</div>
		</div>

    </div>

</div>