<br>
<a class="btn btn-default" href="#/fair">Voltar</a>
<button class="btn btn-danger pull-right" 
    ng-class="saving_product ? 'disabled' : ''"
    ng-if="productFormModalObject._id" 
    ng-click="dropProduct(productFormModalObject)">
    <i class="fa fa-trash"></i>
</button>

<hr>

<form class="form" role="form" name="productFormModal">

    <div class="row">
        
        <div class="col-xs-6">
            
            <img class="img-responsive" ng-src="{{productFormModalObject.img}}" ></img>

        </div>
        
        <div class="col-xs-18">
            
            <h1 ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.name"></h1>
            
            <br>
            
            <dl class="dl-horizontal">
                <dt>Preço (R$): </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.price"></dd>
            </dl>
            
            <dl class="dl-horizontal">
                <dt>Descrição: </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.dscr"></dd>
            </dl>
            
            <dl class="dl-horizontal">
                <dt>Categoria: </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.category"></dd>
            </dl>
            
            <dl class="dl-horizontal">
                <dt>Época: </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.season"></dd>
            </dl>
            
            <dl class="dl-horizontal">
                <dt>Receitas: </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.recipes"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-if="$storage.user.kind == 'admin'">
                <dt>Imagem: </dt>
                <dd ng-attr-contenteditable="{{$storage.user.kind == 'admin' ? 'true' : 'false'}}" ng-model="productFormModalObject.img"></dd>
            </dl>

            <dl class="dl-horizontal"  ng-if="$storage.user.kind == 'admin'">
                <dt></dt>
                <dd>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active" ng-model="productFormModalObject.highlight"> Destaque
                        </label>
                        <label>
                            <input type="checkbox" name="active" ng-model="productFormModalObject.active"> Ativo
                        </label>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal"  ng-if="$storage.user.kind == 'admin'">
                <dt></dt>
                <dd><button type="button" class="btn btn-success" ng-click="productModalFormSubmit()"
                ng-class="saving_product ? 'disabled' : ''"
                >Salvar</button></dd>
            </dl>
            

            
        </div>

    </div>
    
</form>

<hr>

<h3>Outros produtos da mesma categoria {{productFormModalObject.kind}}</h3>
<div class="row">
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in products | filter: {category: productFormModalObject.category} | orderBy: 'name'">
		<a class="btn btn-default" href="#/product/{{product._id}}">
			<img 
				class="img-responsive img-thumbnail" 
				alt="week_product" 
				ng-src="{{product.img}}" 
				popover="{{product.dscr}}" 
				popover-title="{{product.name}}"
				popover-trigger="mouseenter"
				popover-placement="right" 
				popover-append-to-body="true"
				ng-dblclick="addToBasket(product)"
				ng-click="addToBasket(product)"
			>
		</a>
		<p style="height:60px;">{{product.name}}</p>
	</div>
	
</div>