<button class="btn btn-default" ng-click="$back()">Voltar</button>

<form class="form" role="form" name="productFormModal">

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="name">Nome</label>
                <input class="form-control" type="text" name="name" ng-model="productFormModalObject.name"/>
            </div>
            <div class="form-group">
                <label for="price">Preço</label>
                <input class="form-control" type="text" name="price" ng-model="productFormModalObject.price"/>
            </div>
            <div class="form-group">
                <label for="dscr">Descrição</label>
                <textarea class="form-control" rows="3" name="dscr" ng-model="productFormModalObject.dscr"></textarea>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="active" ng-model="productFormModalObject.highlight"> Destaque
                </label>
                <label>
                    <input type="checkbox" name="active" ng-model="productFormModalObject.active"> Ativo
                </label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="kind">Tipo</label>
                <input class="form-control" type="text" name="kind" ng-model="productFormModalObject.kind"/>
            </div>
            <div class="form-group">
                <label for="img">Imagem</label>
                <input class="form-control" type="text" name="img" ng-model="productFormModalObject.img"/>
            </div>
            <div class="form-group">
                <label for="season">Época</label>
                <input class="form-control" type="text" name="season" ng-model="productFormModalObject.season"/>
            </div>
            <div class="form-group">
                <label for="recipes">Receitas</label>
                <input class="form-control" type="text" name="recipes" ng-model="productFormModalObject.recipes"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="button" class="btn btn-success" ng-click="productModalFormSubmit(productFormModalObject)" >Salvar</button>
    </div>
</form>