<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
  <h3>Minha cesta orgânica</h3>
</div>
<div class="modal-body">
  
	<div ng-if="!basket.products.length">
		<h4>A sua cesta está vazia!</h4>
		<p>Vá até a <a href="/feira">Feira</a> e adicione novos produtos clicando no botão "Colocar na cesta".</p>
	</div>
	
	<div ng-if="basket.products.length">

    <table class="table table-condensed table-striped table-hover small">
        <thead>
            <tr>
                <td>Produto</td>
                <td align="center">Quantidade</td>
                <td align="right">Preço unitário</td>
                <td align="right">Total</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in basket.products">
                <td ng-bind="product.name"
        					tooltip-placement="right"
        					tooltip-html-unsafe="{{product.name}} <hr> {{product.dscr}}" 
        					tooltip-append-to-body="true" 
                ></td>
                <td align="center">
          				<span class="btn-group" role="group" aria-label="productKind">
                    <button class="btn btn-default btn-xs" ng-click="dropFromBasket(product, 1)"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-default btn-xs" ng-bind="product.quantity" disabled></button>
                    <button class="btn btn-default btn-xs" ng-click="addToBasket(product)"><i class="fa fa-plus"></i></button>
          				</span>
                </td>
                <td ng-bind="product.prices[0].price | currency:'R$':2" align="right"></td>
                <td ng-bind="product.quantity*product.prices[0].price | currency:'R$':2" align="right"></td>
            </tr>
            <tr>
                <td colspan="2" ng-class="basket.total < 35 ? 'danger' : ''">
                    <span ng-if="basket.total < 35" >O valor mínimo para a compra de produtos é de R$35,00.</span>
                </td>
                <td align="right">Total:</h5></td>
                <td align="right" ng-bind="basket.total | currency:'R$':2"</td>
            </tr>
        </tbody>
    </table>
    
    <div class="row">
      <div class="col-xs-6">
        <img class="img-responsive" src="https://s3-sa-east-1.amazonaws.com/fodev/img/global/pagseguro.png">
      </div>
      <div class="col-xs-18">
        <ul>
          <li>Compra 100% segura.</li>
      		<li>A Feira Orgânica Delivery utiliza o Pagseguro como gateway de pagamentos, garantindo assim uma compra segura e muito simples.</li>
      		<li>As entregas são realizadas nas Terças e Sábados e o frete custa apenas R$6,00.</li>
      		<li>O valor mínimo para a compra de produtos é de R$35,00.</li>
      	</ul>
      </div>
    </div>

</div>
<div class="modal-footer">
  Compra 100% segura.
  <br>
  <button type="button" class="btn btn-primary" ng-click="modalOptions.goToFair()">Feira</button>
  <button class="btn btn-success" ng-click="modalOptions.ok();" 
    ng-disabled="basket.total < 35"
  >Revisar e finalizar meu pedido</button>
</div>