body {
	padding-top:50px;
}

/** Estilo do conteudo **/
.main-container{
    min-height:80vh;
    padding-bottom: 30px;
}
.main-container a{
    text-decoration:none;
}

/** Estilo do rodape **/
.footer {
    bottom: 0;
    width: 100%;
    background:black;
    color:white;
}

#bg-topo-home{
    background:url('http://i.huffpost.com/gen/1703432/images/o-VEGETABLES-facebook.jpg') no-repeat center center;
    background-size:100% auto;
}

/** bootstrap-ui **/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/** tooltip **/
.tooltip > .tooltip-inner {
    text-align:left;
}

/** Default styles **/
.background-black{ background-color:black;}
.background-blue{ background-color:#5BC0DE;}
.background-blue-dark{ background-color:#22A7F0;}
.background-green{ background-color:#1D9E74;}
.background-orange{ background-color:#F27935;}
.background-red{ background-color:#D64541;}
.background-white{ background-color:white;}
.background-violet{ background-color:#A348A3;}

/** changing hover color **/
ul.nav a:hover { background-color:#8C3E8C; color:white; }


/** Default styles **/
.text-black{ color:black;}
.text-blue{ color:#5BC0DE;}
.text-blue-dark{ color:#22A7F0;}
.text-green{ color:#1D9E74;}
.text-orange{ color:#F27935;}
.text-red{ color:#D64541;}
.text-white{ color:white;}
.text-violet{ color:#A348A3;}
a.text-black{ color:black;}
a.text-blue{ color:#5BC0DE;}
a.text-blue-dark{ color:#22A7F0;}
a.text-green{ color:#1D9E74;}
a.text-orange{ color:#F27935;}
a.text-red{ color:#D64541;}
a.text-white{ color:white !Important;}
a.text-violet{ color:#A348A3;}

/** Font sizes **/
.font-20{ font-size: 20px;}
.font-30{ font-size: 30px;}
.font-35{ font-size: 35px;}
.font-40{ font-size: 40px;}
.font-50{ font-size: 50px;}
.font-60{ font-size: 60px;}
.font-200{ font-size: 200px;}


/** alert **/
#alertWrapper {
    position: fixed;
    top: 0px;
    left: 10px;
    right: 10px;
    z-index:9999;
}

/** Estilo do navegador **/
.navbar-fixed-top{
    background: rgba(255, 255, 255, 0.9);
    /** border-bottom: .1em solid rgba(163, 73, 164, 0.9); **/
    font-family:'Impact, Charcoal, sans-serif';
}
.navbar-fixed-top-admin{
    background: rgba(200, 200, 200, 0.9);
    /** border-bottom: .1em solid rgba(163, 73, 164, 0.9); **/
}

/** .navbar-fixed-top{background: rgba(255, 240, 255, 0.9);} **/
.navbar-fixed-top a{color: rgba(163, 73, 164, 0.9); font-weight: 800;}

/** Centraliza imagens responsivas **/
.img-responsive { margin: 0 auto; }
.img-responsive.img-responsive-wide { width:100%; }

/** Padding para numero indefinido de colunas **/
.server-action-menu {
    padding: 5px;
}

/** Fix para modulo do banco do brasil **/
object[type^='application/gas-events'] { display: none; }


/** Remove o gutter do row **/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}