/** Default styles **/
.background-default{ background-color:white;}
.background-danger{ background-color:#D64541;}
.background-success{ background-color:#1D9E74; color:white;}
.background-info{ background-color:#5BC0DE;}
.background-primary{ background-color:#22A7F0;}
.background-warning{ background-color:#F27935;}

/** Estilo do navegador **/
.navbar-fixed-top{
    background: rgba(255, 255, 255, 0.9);
    /** border-bottom: .1em solid rgba(163, 73, 164, 0.9); **/
}
/** .navbar-fixed-top{background: rgba(255, 240, 255, 0.9);} **/
.navbar-fixed-top a{color: rgba(163, 73, 164, 0.9); font-weight: 800;}

/** Centraliza imagens responsivas **/
.img-responsive { margin: 0 auto; }

/** Label colorido **/
.label-1{background: #e6ec12;}

/** padding top do conteúdo para nao ficar abaixo do navegador **/
.main-container{padding-top:60px; }

/** Fix para modulo do banco do brasil **/
object[type^='application/gas-events'] { display: none; }

.font-50{ font-size: 50px;}


/** Remove o gutter do row **/
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background:black;
    color:white;
}