<style type="text/css">
    .newsBody {background-color:#F0F0F0; text-align: justify; word-break:break-all;}
    .newsBody h1{color:#1D9E74; font-weight: bold;}
    .newsBody h2{color:#A348A3;}
    .newsBody h3{color:#A348A3;}
    .newsBody p { white-space:pre-wrap; }
    .newsBody a{ color:white; text-decoration: none; }
    .newsBody .newsHead {font-size:30px; text-align:center; background-color:#0079BF; color:white; margin:0; padding: 10px 15px;}
    .newsBody .newsSectionHead {font-size:30px; text-align:center; background-color:#0079BF; color:white; margin:0; padding: 10px 15px;}
    .newsBody .newsContent{ padding: 10px 15px; }
    .newsBody .newsFoot{font-size:20px; text-align:center; background-color:#0079BF; color:white; margin:0; padding: 10px 15px;}
</style>


<div class="row">
    <div class="col-sm-offset-1 col-sm-22">
        <div class="row">
            <div class="col-sm-11">
                <h1>Newsletter</h1>
                <form class="form" role="form" ng-submit="submitNewsletterForm()">
                    
                    <div class="form-group">
                        <label for="title"></label>
                        <input class="form-control input-sm" type="text" name="title" ng-model="newsletter.title" placeholder="Título da newsletter"/>
                    </div>
                    
                    <div class="form-group">
                        <label for="top"></label>
                        <textarea class="form-control input-sm" rows="3" name="newsletter.top" ng-model="newsletter.top" placeholder="Texto superior da newsletter"></textarea>
                    </div>
                    
                    <div ng-repeat="section in newsletter.sections">
                        
                        <hr>
                        
                        <div clas="form-group">
                            <label for="section.title"></label>
                            <input class="form-control input-sm" type="text" name="section.title" ng-model="section.title" placeholder="Título da seção"/>
                        </div>

                        <div clas="form-group">
                            <label for="section.top"></label>
                            <textarea class="form-control input-sm" rows="3" name="section.top" ng-model="section.top" placeholder="Texto superior da sessão"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="section.bottom"></label>
                            <textarea class="form-control input-sm" rows="3" name="section.bottom" ng-model="section.bottom" placeholder="Texto inferior da seção"></textarea>
                        </div>
                    </div>
                    
                    <hr>
                    
                    <button type="button" class="btn btn-success btn-xs" ng-click="addNewSection()"><i class="fa fa-plus"></i> Nova seção</button>
                    
                    <hr>
                    
                    <div class="form-group">
                        <label for="bottom"></label>
                        <textarea class="form-control input-sm" rows="3" name="newsletter.bottom" ng-model="newsletter.bottom" placeholder="Texto inferior da newsletter"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> Adicinar newsletter</button>
                    </div>

                </form>
            </div>
            <div class="col-sm-offset-2 col-sm-11">
                
                <h1>Preview do e-mail</h1>
                
                <iframe style="width:100%;" seamless srcdoc='
                
                <div class="newsBody">

                    <div class="newsHead">
    
                        <a href="https://feiraorganica.com">Feira Orgânica Delivery</a>
                        
                    </div>
                    
                    <div class="newsContent">
                        
                        <h1 ng-bind="newsletter.title"></h1>
                        
                        <p ng-bind="newsletter.top"></p>
                        
                        <div ng-repeat="section in newsletter.sections">
                            
                            <h2 class="newsSectionHead" ng-bind="section.title"></h2>
                            
                            <p ng-bind="section.top"></p>
                            
                            <p ng-bind="section.bottom"></p>
                            
                        </div>
                        
                        <p ng-bind="newsletter.bottom"></p>
                            
                        <small>Para garantir que nossos comunicados cheguem em sua caixa de entrada, adicione o e-mail <a href="mailto:info@feiraorganica.com.br" style="color:#0079BF;">info@feiraorganica.com.br</a> ao seu catálogo de endereços.</small>
                    </div>
                    
                    <div class="newsFoot">
                        
                        <a href="https://feiraorganica.com">A Feira Orgânica Delivery agradece sua confiança!</a>

                    </div>

                </div>             
                
                '>
                    
                </iframe>
                
            </div>
        </div>
    </div>
</div>