<div class="row">
    <div class="col-sm-offset-6 col-sm-12">
        <h1>Dados do usuário <span class="text-violet" ng-bind="image.title"></span></h1>
        
        <form class="form" role="form" ng-submit="updateImage()">
            <div class="form-group">
                <label for="title">Título</label>
                <input class="form-control" type="text" name="title" id="title" ng-model="image.title"/>
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                <input class="form-control" type="text" name="url" id="url" ng-model="image.url"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="processingImageUpdate">Salvar</button>
            </div>
        </form>

    </div>
</div>