<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Arquivos <span ng-bind="filteredFiles.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="filesQuery">Buscar arquivo</label>
        		<input class="form-control input-xs" id="filesQuery" name="filesQuery" ng-model="filesQuery" type="text" placeholder="Buscar filem">
            </div>
        	<div class="form-group">
        	    <label for="order">Ordem</label>
                <select class="form-control" id="order" ng-model="selectedOrder">
                    <option value="name" selected>Nome</option>
                    <option value="url" selected>Url</option>
                    <option value="updated">Data</option>
                </select>
        	</div>
            <a class="btn btn-default" href="/file">+</a>
        </form>
        
        <br>

        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Arquivo</td>
                    <td>Ultima modificação</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in filteredFiles = (files | filter: filesQuery | orderBy: selectedOrder)">
                    <td><a href="/file/{{file._id}}" ng-bind="file.name || '???'"></a></td>
                    <td ng-bind="file.file_name"></td>
                    <td ng-bind="file.updated"></td>
                    <td>x</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>