<div class="text-center" ng-if="!uploading">
  <p>Envie um arquivo do seu computador.</p>
  
  <p>Primeiro defina a privacidade</p>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">Público</div>
    <div class="btn-group" role="group" aria-label="...">Privado</div>
    <div class="btn-group btn-group-sm" role="group" aria-label="...">Global</div>
  </div>
</div>

<div ng-if="uploading">
  <p>Enviando um arquivo do seu computador...</p>
  <progressbar animate="false" value="progress" type="success"><b>{{progress}}%</b></progressbar>
</div>