<form class="form" role="form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modalOptions.close()"><span aria-hidden="true">&times;</span></button>
    <h3>Enviar arquivo</h3>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="name">Nome do arquivo</label>
        <input class="form-control" type="text" name="name" ng-model="name"/>
      </div>
      <img class="img-responsive" style="max-height: 250px;" ngf-src="files[0]" ngf-default-src="https://s3-sa-east-1.amazonaws.com/fodev/img/global/no_image.jpeg" ngf-accept="'image/*'" ngf-select ngf-change="setFiles($files)" ng-click="filesService.showModal()">
      <br>
      <progressbar animate="false" value="progress" type="success" ng-if="uploading"><b>{{progress}}%</b></progressbar>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="modalOptions.ok();">Fechar</button>
    <button class="btn btn-success" ng-click="upload(files)">Salvar</button>
  </div>
</form>