<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Descontos <span ng-bind="filteredDiscounts.length"></span></h1>
        
        <form class="form-inline text-right">
            <div class="form-group">
            	<label for="discountQuery">Buscar categorias</label>
        		<input class="form-control input-xs" id="discountQuery" name="discountQuery" ng-model="discountQuery" type="text" placeholder="Buscar categorias">
            </div>
        	<div class="form-group">
        	    <label for="order">Ordem</label>
                <select class="form-control" id="order" ng-model="selectedOrder">
                    <option value="name" selected>Nome</option>
                    <option value="updated">Data</option>
                </select>
        	</div>
            <a class="btn btn-default" href="/discount">+</a>
        </form>
        
        <br>

        <table class="table table-condensed table-stripped table-hover">
            <thead>
                <tr>
                    <td>nome</td>
                    <td>Ultima modificação</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="discount in filteredDiscounts = (discounts | filter: discountQuery | orderBy: selectedOrder)">
                    <td><a href="/discount/{{discount._id}}" ng-bind="discount.desc || '???'"></a></td>
                    <td ng-bind="discount.updated"></td>
                    <td><a href="javascript:void(0)" ng-click="dropDiscount(discount)">x</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>