<div class="row">
    <div class="col-sm-offset-3 col-sm-18">
        
        <h1>Dados do endereço <span class="text-violet" ng-bind="address.name"></span></h1>
        
        
        <form class="form" role="form">
            <div class="form-group">
                <label for="name" class="control-label">Identificador do endereço</label>
                <input type="text" class="form-control" id="name" placeholder="Dê um nome para este endereço" ng-model="address.name">
            </div>
                
            <div class="row">
                <div class="form-group col-sm-5">
                    <label for="cep" class="control-label">CEP</label>
                    <input type="text" class="form-control" id="cep" placeholder="CEP" ng-model="address.cep">
                </div>
                <div class="form-group col-sm-11">
                    <label for="street" class="control-label">Rua</label>
                    <input type="text" class="form-control" id="street" placeholder="Rua" ng-model="address.street">
                </div>
                <div class="form-group col-sm-2">
                    <label for="number" class="control-label">Nº</label>
                    <input type="text" class="form-control" id="number" placeholder="Número" ng-model="address.number">
                </div>
                <div class="form-group col-sm-6">
                    <label for="complement" class="control-label">Complemento</label>
                    <input type="text" class="form-control" id="complement" placeholder="Complemento" ng-model="address.complement">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="district" class="control-label">Bairro</label>
                    <input type="text" class="form-control" id="district" placeholder="Bairro" ng-model="address.district">
                </div>
                <div class="form-group col-sm-6">
                    <label for="city" class="control-label">Cidade</label>
                    <input type="text" class="form-control" id="city" placeholder="Cidade" ng-model="address.city">
                </div>
                <div class="form-group col-sm-6">
                    <label for="state" class="control-label">Estado</label>
                    <input type="text" class="form-control" id="state" placeholder="Estado" ng-model="address.state">
                </div>
                <div class="form-group col-sm-6">
                    <label for="country" class="control-label">País</label>
                    <input type="text" class="form-control" id="country" placeholder="País" ng-model="address.country" disabled>
                </div>
            </div>
            <div class="form-group">
                <label for="address_ref" class="control-label">Dados complementares de entrega.</label>
                <textarea rows="4" class="form-control" id="address_ref" placeholder="Dados complementares de entrega" ng-model="address.reference"></textarea>
                <p class="help-block">Forneça dados que nos auxiliem na entrega, como pontos de referência próximos a sua casa, horário preferencial para o recebimento, pessoas autorizadas a receber a cesta...</p>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-disabled="processingAddressUpdate">Salvar</button>
            </div>

        </form>
        
    </div>
</div>