<div class="row">
    <div class="col-sm-22 col-sm-offset-1">
        <h1>Revise seu pedido</h1>
        
        <h2>Produtos</h2>
        <table class="table table-condensed table-striped table-hover small">
            <thead>
                <tr>
                    <td class="col-sm-13 col-md-15 col-lg-17">Produto</td>
                    <td align="right" class="col-xs-1"></td>
                    <td align="center" class="col-xs-1"></td>
                    <td align="left" class="col-xs-1"></td>
                    <td align="right" class="col-sm-4 col-md-3 col-lg-2">Preço unitário</td>
                    <td align="right" class="col-sm-4 col-md-3 col-lg-2">Total</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in $storage.basket.products">
                    <td ng-bind="product.name"></td>
                    <td align="center">
                        <button class="btn btn-default btn-xs" ng-click="dropFromBasket(product, 1)"><i class="fa fa-minus"></i></button>
                    </td>
                    <td align="center">
                        <button class="btn btn-default btn-xs" ng-bind="product.quantity" disabled></button>
                    </td>
                    <td align="center">
                        <button class="btn btn-default btn-xs" ng-click="addToBasket(product)"><i class="fa fa-plus"></i></button>
                    </td>
                    <td ng-bind="product.prices[0].price | currency:'R$':2" align="right"></td>
                    <td ng-bind="product.quantity*product.prices[0].price | currency:'R$':2" align="right"></td>
                </tr>
                <tr>
                    <td ng-class="$storage.basket.total < 35 ? 'danger' : ''">
                        <span ng-if="$storage.basket.total < 35" >O valor mínimo para a compra de produtos é de R$35,00.</span>
                    </td>
                    <td colspan="4" align="right">Total:</h5></td>
                    <td align="right" ng-bind="$storage.basket.total | currency:'R$':2"</td>
                </tr>
            </tbody>
        </table>
        
        <h2>Frete</h2>
        <div class="row">
            <div class="col-sm-18">
                <select class="form-control" 
                    ng-model="$storage.basket.shipping.location" 
                    ng-options="location as location.city for location in shipping.locations track by location.city"
                    ng-change="UpdateCityAndShippingPrice()"
                    >
                  <option value="">-- Selecione sua cidade --</option>
                </select>
            </div>
            <div class="col-sm-6">
                <p class="pull-right" ng-bind="$storage.basket.shipping.price | currency:'R$':2"></p>
            </div>
        </div>
        
        <h2 class="text-right">Valor final <span class="text-success" ng-bind="$storage.basket.total + ($storage.basket.shipping.price * 1) | currency:'R$':2"></span></h2>

        <form class="form" role="form">

            <div class="well well-mini background-blue text-white hidden">
                <h2 class="click" ng-click="showPreferencesForm = !showPreferencesForm">Preferências <i class="fa text-white" ng-class="showPreferencesForm ? 'fa-arrow-up' : 'fa-arrow-down'"></i></h2>
                <div class="row" ng-if="showPreferencesForm">
                    <div class="form-group col-sm-5">
                        
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="$storage.basket.garbage_free"> Livre de lixo
                            </label>
                        </div>
                    </div>
                </div>  
            </div>

            <div class="well well-mini">
                <h2 class="click clearfix" ng-click="showShippingForm = !showShippingForm">
                    Dados de entrega <i class="fa small" ng-class="showShippingForm ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
                    <small class="pull-right hidden"><a href="javascript:void(0)" ng-click="adressesModal">Meus endereços</a></small>
                </h2>
                
                <hr>
                
                <div class="row" ng-if="showShippingForm">
                    <div class="form-group col-sm-5">
                        <label for="cep" class="control-label">CEP</label>
                        <input type="text" class="form-control" id="cep" placeholder="CEP" ng-model="$storage.basket.shipping.cep">
                    </div>
                    <div class="form-group col-sm-11">
                        <label for="street" class="control-label">Rua</label>
                        <input type="text" class="form-control" id="street" placeholder="Rua" ng-model="$storage.basket.shipping.street">
                    </div>
                    <div class="form-group col-sm-2">
                        <label for="number" class="control-label">Número</label>
                        <input type="text" class="form-control" id="number" placeholder="Número" ng-model="$storage.basket.shipping.number">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="complement" class="control-label">Complemento</label>
                        <input type="text" class="form-control" id="complement" placeholder="Complemento" ng-model="$storage.basket.shipping.complement">
                    </div>
                </div>
                <div class="row" ng-if="showShippingForm">
                    <div class="form-group col-sm-8">
                        <label for="district" class="control-label">Bairro</label>
                        <input type="text" class="form-control" id="district" placeholder="Bairro" ng-model="$storage.basket.shipping.district">
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="phone" class="control-label">Telefone</label>
                        <input type="text" class="form-control" id="phone" placeholder="Telefone" ng-model="$storage.basket.shipping.phone">                                          
                    </div>
                    <div class="form-group col-sm-8">
                        <label for="date" class="control-label">Data de entrega</label>
                        <select class="form-control" ng-model="$storage.basket.shipping.date" ng-options="option as option | date:'dd/MM/yyyy' for option in shipping.nextDates track by option">
                          <option value="">-- Selecione uma data de entrega --</option>
                        </select>
                    </div>
                    <!--<div class="form-group col-sm-6">-->
                    <!--    <label for="city" class="control-label">Cidade</label>-->
                    <!--    <input type="text" class="form-control" id="city" placeholder="Cidade" ng-model="$storage.basket.shipping.city" disabled>-->
                    <!--</div>-->
                    <!--<div class="form-group col-sm-6">-->
                    <!--    <label for="state" class="control-label">Estado</label>-->
                    <!--    <input type="text" class="form-control" id="state" placeholder="Estado" ng-model="$storage.basket.shipping.state" disabled>-->
                    <!--</div>-->
                    <!--<div class="form-group col-sm-6">-->
                    <!--    <label for="country" class="control-label">País</label>-->
                    <!--    <input type="text" class="form-control" id="country" placeholder="País" ng-model="$storage.basket.shipping.country" disabled>-->
                    <!--</div>-->
                </div>
                <div class="form-group">
                    <label for="address_ref" class="control-label">Dados complementares de entrega.</label>
                    <textarea rows="4" class="form-control" id="address_ref" placeholder="Dados complementares de entrega" ng-model="$storage.basket.shipping.address_ref"></textarea>
                    <p class="help-block">Forneça dados que nos auxiliem na entrega, como pontos de referência próximos a sua casa, horário preferencial para o recebimento, pessoas autorizadas a receber a cesta...</p>
                </div>
            </div>
        </form>
        <div class="form-group">
            <a class="btn btn-primary" href="/feira"><i class="fa fa-chevron-left"></i> Feira</a>
            <button 
                class="btn btn-success pull-right" 
                ng-disabled="!orderReady || processingOrder || $storage.basket.total < 35" ng-click="processOrder()">
                <i class="fa fa-spinner fa-spin" ng-if="processingOrder"></i>
                Finalizar pedido
                <i class="fa fa-chevron-right"></i>
            </button>
        </div>

    </div>
</div>