<h1>{{products.length}} Produtos</h1>

<table class="table table-condensed table-stripped table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Custo</td>
            <td>Preço</td>
            <td>Margem</td>
            <td>Categoria</td>
            <td>Ativo</td>
            <td>Destaque</td>
            <td>Ultima modificação</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td><a class="text-violet" href="#/product/{{product._id}}" ng-bind="product.name"></a></td>
            <td ng-bind="product.cost | currency"></td>
            <td ng-bind="product.price | currency"></td>
            <td>{{product.price / product.cost / 100 || 0}}</td>
            <td ng-bind="product.catecory"></td>
            <td><i ng-if="product.active" class="fa fa-check"></i></td>
            <td><i ng-if="product.highlight" class="fa fa-check"></i></td>
            <td ng-bind="product.updated | date:'dd/MM/yyyy'"></td>
            <td>x</td>
        </tr>
    </tbody>
</table>