<h1>Produtos</h1>

<table class="table table-condensed table-stripped table-hover">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Preço</td>
            <td>Categoria</td>
            <td>Ativo</td>
            <td>Ultima modificação</td>
            <td>Ações</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
            <td><a class="text-violet" href="#/product/{{product._id}}" ng-bind="product.name"></a></td>
            <td ng-bind="product.price | currency"></td>
            <td ng-bind="product.catecory"></td>
            <td ng-bind="product.active"></td>
            <td ng-bind="product.updated"></td>
            <td>x</td>
        </tr>
    </tbody>
</table>