<br>

<button class="btn btn-default" ng-click="$back()">Voltar</button>
                
<hr>
<p ng-bind="product.name"></p>
<form class="form" role="form" name="product">

    <div class="row">
        
        <div class="col-xs-6">
            
            <img class="img-responsive" ng-src="{{product.img}}" ></img>

        </div>
        
        <div class="col-xs-18">
            
            <h2 contenteditable="true" ng-model="product.name"></h2>
            
            <br>
            
            <dl class="dl-horizontal" ng-show="$storage.user.kind == 'admin'">
                <dt>Custo R$: </dt>
                <dd contenteditable="true" ng-model="product.cost"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.price || $storage.user.kind == 'admin'">
                <dt>Preço R$: </dt>
                <dd contenteditable="true" ng-model="product.price"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.dscr || $storage.user.kind == 'admin'">
                <dt>Descrição: </dt>
                <dd contenteditable="true" ng-model="product.dscr" class="text-justify"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.category || $storage.user.kind == 'admin'">
                <dt>Categoria: </dt>
                <dd contenteditable="true" ng-model="product.category"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.supplier || $storage.user.kind == 'admin'">
                <dt>Fornecedor: </dt>
                <dd contenteditable="true" ng-model="product.supplier"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.season || $storage.user.kind == 'admin'">
                <dt>Época: </dt>
                <dd contenteditable="true" ng-model="product.season"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-show="product.recipes || $storage.user.kind == 'admin'">
                <dt>Receitas: </dt>
                <dd contenteditable="true" ng-model="product.recipes"></dd>
            </dl>
            
            <dl class="dl-horizontal" ng-if="$storage.user.kind == 'admin'">
                <dt>Imagem: </dt>
                <dd contenteditable="true" ng-model="product.img"></dd>
            </dl>

            <dl class="dl-horizontal">
                <dt></dt>
                <dd>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="active" ng-model="product.highlight"> Destaque
                        </label>
                        <label>
                            <input type="checkbox" name="active" ng-model="product.active"> Ativo
                        </label>
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt></dt>
                <dd><button type="button" class="btn btn-success" ng-click="productModalFormSubmit()"
                ng-class="saving_product ? 'disabled' : ''"
                >Salvar</button></dd>
            </dl>
            
        </div>

    </div>
    
</form>