<h1 class="hide">Home</h1>

<div class="row no-gutter" id="bg-topo-home">
	<div class="col-xs-offset-3 col-xs-18 col-md-offset-4 col-md-16 ">

		<img class="img-responsive img-centered" ng-src="http://images.elasticbeanstalk.com/1000/https://s3-sa-east-1.amazonaws.com/fodev/img/global/marca.png">
		<br><br class="hidden-xs hidden-sm">
		<p class="text-center">
			<a href="#/fair" class="btn btn-primary btn-lg">
				<span class="visible-xs-inline">
					Montar minha cesta orgânica
					<i class="fa fa-leaf"></i>
				</span>
				<span class="visible-sm-inline font-30">
					Montar minha cesta orgânica
					<i class="fa fa-leaf"></i>
				</span>
				<span class="visible-md-inline font-40">
					Montar minha cesta orgânica
					<i class="fa fa-leaf"></i>
				</span>
				<span class="visible-lg-inline font-40">
					Montar minha cesta orgânica
					<i class="fa fa-leaf"></i>
				</span>
			</a>			
		</p>
		<br><br class="hidden-xs hidden-sm">
	</div>
</div>

<div id="how_it_works" class="row background-green text-white">
	<div class="col-xs-24">

		<h2 class="text-center">Como funciona</h2>
		<br>

		<div class="row">
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">1</span> <a class="text-violet" href="#/montar_cesta">Monte sua cesta.</a></p>
				<p>Em nossa feira você encontra somente produtos que foram produzidos com muito amor e respeito a você e ao meio ambiente.</p>
				<i class="fa fa-cubes font-200"></i>
				<br><br>
			</div>
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">2</span> Efetue o pagamento.</p>
				<p>Compra 100% segura! Você escolhe a melhor forma de pagar. Aceitamos cartões de crédito e débito, transferência e boleto bancário.</p>
				<i class="fa fa-credit-card fa-5x font-200"></i>
				<br><br>
			</div>
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">3</span> Receba o produto.</p>
				<p>Fazemos o que chamamos de Entrega Inteligente. Muita logística, menor custo, baixa emissão de carbono e horários alternativos.</p>
				<i class="fa fa-truck fa-5x fa-flip-horizontal font-200"></i>
				<br><br>
			</div>
		</div>

		<br>
		
		<p class="text-right"><a class="text-white" href="#/blog/terms">Saiba mais aqui...</a></p>
		
		<br>
	</div>
</div>

<div id="week_products" class="row" ng-controller="FairCtrl as FairCtrl">
	<div class="col-xs-offset-1 col-xs-22">
		<h2 class="text-center">Destaques da semana</h2>
		<br><br>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-xs-12" ng-repeat="product in products| filter:{ highlight: true }">
				<a href="#/fair/product/{{product._id}}">
					<img class="img-responsive" alt="week_product" ng-src="http://images.elasticbeanstalk.com/200/{{product.img}}" ng-dblclick="addToBasket(product)">
				</a>
				<p style="height:60px;">{{product.name}}</p>
			</div>
		</div>
	</div>
</div>

<div id="about" class="row background-blue text-white">
	<div class="col-xs-offset-1 col-xs-22 text-center">
		<h2>Sobre a Feira Orgânica Delivery</h2>
		<br><br>
		
		<div class="row">
			<div class="col-sm-8 col-xs-24">
				<img class="img-responsive img-rounded" ng-src="http://images.elasticbeanstalk.com/440/https://s3-sa-east-1.amazonaws.com/fodev/img/global/o_que_fazemos.jpg"></img>
			</div>
			<div class="col-sm-16 col-xs-24 text-justify">
				<h3 class="text-left">O QUE FAZEMOS?</h3>
				<p>Entregamos amor em forma de alimento!</p>
				<p>Literalmente? Entregamos alimentos orgânicos <a href="#/blog/sobre-a-certificacao">certificados</a>, organizados em cestas que você mesmo monta. Oferecemos produtos de todos os grupos alimentares indicados pelos nutricionistas para pessoas com interesse em ter uma vida saudável e uma alimentação equilibrada. Temos a preocupação de entregar apenas produtos <a href="#/blog/sobre-a-certificacao">certificados</a> pelo Ministério da Agricultura e órgãos fiscalizadores, com a garantia de qualidade e confiabilidade. Afinal, dentre a infinidade de alimentos que consumimos, poucos são realmente saudáveis.</p>				
				<p>De quebra... ajudamos o meio ambiente e ajudamos você a ajudar o meio ambiente, além de contribuir com questões socioambientais e facilitar aos produtores de orgânicos a comercialização de seus produtos <a href="#/blog/sobre-a-certificacao">certificados</a>.</p>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-8 col-xs-24 pull-right">
				<img class="img-responsive img-rounded" ng-src="http://images.elasticbeanstalk.com/440/https://s3-sa-east-1.amazonaws.com/fodev/img/global/como_fazemos.jpg"></img>
			</div>
			<div class="col-sm-16 col-xs-24 text-justify pull-left">
				<h3 class="text-left">COMO FAZEMOS?</h3>
				<p>As cestas da Feira Orgânica Delivery são opções garantidas de que você receberá na sua casa alimentos orgânicos fresquinhos, <a href="#/blog/sobre-a-certificacao">certificados</a>, selecionados, higienizados e embalados com carinho.</p> 
				<p>Os nossos produtos orgânicos provêm do box de orgânicos do Ceasa de São José, SC, o BOX 721. Essa parceria nasceu de uma proposta de fidelidade e ajuda mútua.</p>
				<p>Pensando em economizar na emissão de gases e poluentes como o CO2, agendamos as entregas em cada região de Florianópolis uma vez por semana gratuitamente, com veículos abastecidos à gás natural, de bicicleta e a pé, no horário de entrega que for mais conveniente e com a melhor forma de pagamento para o seu bolso.</p>
			</div>
		</div>
		<br><br>
		<div class="row">
			<div class="col-sm-7 col-xs-24">
				<img class="img-responsive img-rounded" ng-src="http://images.elasticbeanstalk.com/440/https://s3-sa-east-1.amazonaws.com/fodev/img/global/porque_fazemos.jpg"></img>
			</div>
			<div class="col-sm-17 col-xs-24 text-justify">
				<h3 class="text-left">POR QUE FAZEMOS?</h3>
				<p>Começamos o nosso negócio aos poucos... mas com grandes sonhos!</p>
				<p>Encontramos na Feira Orgânica Delivery uma forma de ajudar diversas pessoas, os agricultores orgânicos locais e os consumidores que queiram manter de forma saudável a sua alimentação e a da sua família. Através disso, também realizamos nosso desejo de projetos socioambientais, como a campanha de entrega de Cestas Solidárias em instituições carentes, levando alimentos doados por nós e por vocês todo final de mês, para melhorar a alimentação básica dos que dali dependem. *** Saiba como doar alimentos para as Cestas Solidárias.***</p>
				<p>Seguimos ainda, os preceitos da economia solidária, onde parceiros, produtores e consumidores, juntos, promovem a sustentabilidade da vida no campo permitindo com que pequenos núcleos familiares se desenvolvam e tenham uma renda digna. Logo, o que buscamos é muito mais que um simples "delivery" de produtos orgânicos, mas estar sempre lembrando aos nossos clientes que, para receber cada um dos alimentos orgânicos que fornecemos, alguém plantou e cuidou, várias luas e dias de sol se passaram, chuvas caíram, insetos polinizaram e os frutos cresceram, respeitando a época do ano adequada ao crescimento natural de cada alimento. O agricultor produziu enxergando como parceiros todos os agentes da natureza. A partir disso, nossa felicidade é compartilhar com nossos clientes todo esse esforço empreendido para que todos possam consumir alimentos saudáveis de forma consciente e sustentável!</p>
			</div>
		</div>

		<br><br>
	</div>
</div>

<div id="susteinable_actions" class="row">
	<div class="col-xs-24">
		<h2 class="text-center">Ações sustentáveis</h2>
		<br><br>
		<img class="img-responsive" ng-src="https://s3-sa-east-1.amazonaws.com/fodev/img/global/acoes_organograma.jpeg"></img>
		<br><br>
	</div>
</div>

<div id="certification" class="row background-green text-white">
	<div class="col-xs-offset-1 col-xs-22">
		<div class="row">
			<h2 class="text-center">Certificação</h2>
			<br><br>
			<div class="col-xs-8">
				<img class="img-responsive img-rounded" ng-src="http://images.elasticbeanstalk.com/440/https://s3-sa-east-1.amazonaws.com/fodev/img/global/selo_organico_brasil.png"></img>
			</div>
			<div class="col-xs-16 text-justify">
				<div class="text-justify">
					<p>Um produto orgânico não pode ser reconhecido a olho nu e é um mito pensar que eles são menores ou mais feios.</p>
					<p>Muitas vezes, de acordo com a estação do ano e a fertilidade do solo, eles podem ser até maiores que os cultivados por métodos convencionais.</p>
					<p>O único modo de identificar um produto orgânico é através de selos das certificadoras reconhecidas pelo Ministério da Agricultura.</p>
					<p>As certificadoras fazem análises para verificar a ausência de toxidade, além de fiscalizar as propriedades onde os alimentos são produzidos. Também exigem que os produtores mantenham o compromisso social e a preservação ambiental como condições para manterem os selos.</p>
				</div>
			</div>
		</div>
		<br><br>
	</div>
</div>

<div id="contact" class="row background-blue-dark text-white" ng-controller="ContactCtrl">
	<div class="col-xs-offset-1 col-xs-22">
		<h2 class="text-center">Deixar uma mensagem</h2>
		<p class="text-center">Deixe seu recado que entraremos em contato em breve.</p>
		
		<form class="form" method="POST" role="form" name="contactForm" ng-submit="submitContact()">
			<div class="form-group">
				<label for="contact-name">Nome</label>
				<input class="form-control" type="text" name="name" ng-model="name" id="name" placeholder="Nome"/>
			</div>
			<div class="form-group">
				<label for="contact-email">E-mail *</label>
				<input class="form-control" type="text" name="email" ng-model="email" id="email" placeholder="E-mail"/>
			</div>
			<div class="form-group">
				<label for="contact-phone">Telefone</label>
				<input class="form-control" type="text" name="phone" ng-model="phone" id="phone" placeholder="Telefone"/>
			</div>
			<div class="form-group">
				<label for="contact-msg">Mensagem</label>
				<textarea class="form-control" rows="5" name="msg" ng-model="msg" id="msg" placeholder="Mensagem"></textarea>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success" ng-disabled="submitingContact">Enviar</button>
			</div>
		</form>
	</div>
</div>