<h1 class="hide">Início</h1>

<div class="row no-gutter" id="bg-topo-home">
	<div class="col-xs-offset-3 col-xs-18 col-md-offset-4 col-md-16 ">

		<img class="img-responsive img-centered" ng-src="http://images.elasticbeanstalk.com/1000/https://s3-sa-east-1.amazonaws.com/fodev/img/global/marca.png">
		<br><br class="hidden-xs hidden-sm">
		<p class="text-center">
			<a href="/fair" class="btn btn-primary btn-lg">
				<span class="visible-xs-inline">
					Montar minha cesta orgânica
				</span>
				<span class="visible-sm-inline font-30">
					Montar minha cesta orgânica
				</span>
				<span class="visible-md-inline font-40">
					Montar minha cesta orgânica
				</span>
				<span class="visible-lg-inline font-40">
					Montar minha cesta orgânica
				</span>
			</a>			
		</p>
		<br><br class="hidden-xs hidden-sm">
	</div>
</div>

<div id="how_it_works" class="row background-green text-white">
	<div class="col-xs-24">

		<h2 class="text-center">Como funciona</h2>
		<br>

		<div class="row">
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">1</span> <a class="text-violet" href="/montar_cesta">Monte sua cesta.</a></p>
				<p>Em nossa feira você encontra somente produtos que foram produzidos com muito amor e respeito a você e ao meio ambiente.</p>
				<i class="fa fa-cubes font-200"></i>
				<br><br>
			</div>
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">2</span> Efetue o pagamento.</p>
				<p>Compra 100% segura! Você escolhe a melhor forma de pagar. Aceitamos cartões de crédito e débito, transferência e boleto bancário.</p>
				<i class="fa fa-credit-card fa-5x font-200"></i>
				<br><br>
			</div>
			<div class="col-sm-8 text-center">
				<br>
				<p style="padding-bottom:10px;" class="font-35 text-violet"><span class="badge background-white text-violet font-30">3</span> Receba o produto.</p>
				<p>Fazemos o que chamamos de Entrega Inteligente. Muita logística, menor custo, baixa emissão de carbono e horários alternativos.</p>
				<i class="fa fa-truck fa-5x fa-flip-horizontal font-200"></i>
				<br><br>
			</div>
		</div>

		<br>
		
		<p class="text-right"><a class="text-white" href="/blog/terms">Saiba mais aqui...</a></p>
		
		<br>
	</div>
</div>

<div id="week_products" class="row">
	<div class="col-xs-24">
		<h2 class="text-center">Destaques da semana</h2>
		<br><br>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-repeat="product in highlightProducts">
		
		
				<div class="thumbnail">
					<a href="/fair/product/{{product._id}}">
						<img class="img-responsive" alt="week_product" ng-src="http://images.elasticbeanstalk.com/200x200/{{product.img}}" ng-dblclick="addToBasket(product)">
					</a>
					<hr>
					<div style="height:100px;">
						<p>
							<span ng-bind="product.price | currency:'R$':2"></span>
							<span class="pull-right">
								<a ng-if="product.category" ng-click="selectCategory(product.category)" ng-bind="product.category"></a>
							</span>
						</p>
						<h4 class="text-violet"><a href="/fair/product/{{product._id}}" ng-bind="product.name"></a></h4>
					</div>
		
					<button class="btn btn-success btn-block" ng-click="addToBasket(product)">Colocar na cesta 
						<span class="label label-warning" ng-repeat="buttonProduct in $storage.basket.products | filter : {_id: product._id}" ng-bind="buttonProduct.quantity"></span>
					</button>
		
				</div>
		
		
			</div>
			<div class="col-xs-24" ng-if="!highlightProducts.length">Nesta semana não temos nenhum produto da categoria {{selectedCategory}}!
				<br></br>
			</div>
		</div>
		
	</div>
</div>